:root {
  --roboto-mono: 'Roboto Mono', sans-serif;
  --white: #FFFFFF;
  --burnt-sand: #3A332A;
  --shadow-biege: #F4F3ED;
  --light-biege: #FFFEF9;
  --black: #000;
  --red-juice: #CC0700;
}
.transition-all-3 {
  -webkit-transition: all .3s ease-out !important;
  -moz-transition: all .3s ease-out !important;
  -o-transition: all .3s ease-out !important;
  transition: all .3s ease-out !important;
}
h1 {
  font-size: clamp(40px, 6.25vw,90px);
  letter-spacing: -4%;
  font-weight: 200;
}
h1 [style="text-decoration:line-through"],
h1 [style="text-decoration: line-through;"] {
  font-size: clamp(100px, 13.8vw,200px);
  text-decoration: none !important;
  line-height: 1em;
}
h2 {
  font-size: clamp(30px, 4.02vw ,58px);
  letter-spacing: -4%;
  font-weight: 300;
}
h2 strong {
  font-size: clamp(36px, 5.6vw,80px);
  text-decoration: none !important;
  letter-spacing: -4%;
  line-height: 1em;
  font-weight: 200;
}
h2 [style="text-decoration: line-through;"] {
  font-size: clamp(30px, 4.4vw, 64px);
  text-decoration: none !important;
  line-height: 1em;
}
h3 {
  font-size: clamp(27px, 3.333vw,48px);
  line-height: 1em;
  letter-spacing: -5%;
  font-weight: 300;
}
h4 {
  font-size: clamp(22px, 1.66vw,24px);
  letter-spacing: -4%;
  font-weight: 300;
  line-height: 1em;
}
h4 strong em {
  font-style: normal;
  font-size: clamp(24px, 2.22vw,32px);
  font-weight: 300;
  line-height: 1em;
}
h4 [style="text-decoration: line-through;"] {
  font-size: clamp(24px, 2.22vw,32px) !important;
  font-weight: 300;
  line-height: 1em;
  text-decoration: none !important;
}
h4:has(.sqsrte-text-highlight):not(:last-child) {
  margin-bottom: 20px;
}
p {
  font-size: 14px;
}
p strong {
  font-weight: 500;
  font-family: "Work Sans";
  letter-spacing: -0.02em;
  line-height: 110%;
}
p.sqsrte-large {
  font-size: clamp(16px, 1.25vw,16px);
}
p.sqsrte-large em {
  font-size: clamp(18px, 1.16vw,20px);
  font-style: normal;
  line-height: 1.3em;
}
p.sqsrte-large [style="text-decoration:line-through"],
p.sqsrte-large .list-item-content__description p u,
[id*="how-it-works"] [style="text-decoration:line-through"],
[id*="how-it-works"] .list-item-content__description p u {
  position: relative;
  display: flex;
  text-decoration: none !important;
  align-items: center;
  gap: 6px;
}
p.sqsrte-large [style="text-decoration:line-through"]:before,
p.sqsrte-large .list-item-content__description p u:before,
[id*="how-it-works"] [style="text-decoration:line-through"]:before,
[id*="how-it-works"] .list-item-content__description p u:before {
  content: '';
  width: 14px;
  height: 14px;
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='10' viewBox='0 0 11 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.59304 9.27721L4.69815 8.39227L7.8054 5.28502H0V3.99241H7.8054L4.69815 0.890137L5.59304 0.000221491L10.2315 4.63872L5.59304 9.27721Z' fill='%231E1E1E'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  display: inline-block;
  background-size: contain;
  background-position: center;
  transform: translatey(1px);
  -webkit-transition: all .3s ease-out !important;
  -moz-transition: all .3s ease-out !important;
  -o-transition: all .3s ease-out !important;
  transition: all .3s ease-out !important;
}
p.sqsrte-small {
  font-size: 12px;
  line-height: 1.4em;
}
p.sqsrte-small strong {
  font-weight: 500;
  font-family: "Work Sans";
  letter-spacing: -0.02em;
  line-height: 1.1em;
}
#siteWrapper [id*="h2-lm"] h2 strong {
  font-weight: 200;
}
#siteWrapper [id*="text-links"] h1 a,
#siteWrapper [id*="text-links"] h2 a,
#siteWrapper [id*="text-links"] h3 a,
#siteWrapper [id*="text-links"] h4 a,
#siteWrapper [id*="text-links"] p a {
  text-decoration: none !important;
}
#siteWrapper [id*="text-links"] h1 a:hover,
#siteWrapper [id*="text-links"] h2 a:hover,
#siteWrapper [id*="text-links"] h3 a:hover,
#siteWrapper [id*="text-links"] h4 a:hover,
#siteWrapper [id*="text-links"] p a:hover {
  opacity: 0.7;
}
@media screen and (max-width:767px) {
  h1 br,
  h2 br,
  h3 br,
  h4 br,
  p br {
    display: none;
  }
}
@media screen and (max-width:767px) {
  [id*="br-vis"] h1 br,
  [id*="br-vis"] h2 br,
  [id*="br-vis"] h3 br,
  [id*="br-vis"] h4 br,
  [id*="br-vis"] p br {
    display: block;
  }
}
#header .header-skip-link {
  display: none;
}
.page-section {
  min-height: auto !important;
}
#siteWrapper.site-wrapper .sqs-button-element--primary:not(.newsletter-form-button),
#siteWrapper.site-wrapper .sqs-button-element--secondary,
#siteWrapper.site-wrapper .bright .sqs-button-element--secondary,
#siteWrapper.site-wrapper .button-block .sqs-button-element--secondary,
.sqs-block-newsletter:not(#block-yui_3_17_2_1_1691744823707_33401) .newsletter-form-field-element,
#siteWrapper .form-wrapper .field-element,
#siteWrapper .header-skip-link,
.split-buttons .btn,
#siteWrapper.site-wrapper .button-block .sqs-button-element--tertiary {
  position: relative;
  background: transparent !important;
  line-height: 1em;
  padding-right: 32px;
  font-size: 12px;
  letter-spacing: -0.4px;
}
#siteWrapper.site-wrapper .sqs-button-element--primary:not(.newsletter-form-button):before,
#siteWrapper.site-wrapper .sqs-button-element--secondary:before,
#siteWrapper.site-wrapper .bright .sqs-button-element--secondary:before,
#siteWrapper.site-wrapper .button-block .sqs-button-element--secondary:before,
.sqs-block-newsletter:not(#block-yui_3_17_2_1_1691744823707_33401) .newsletter-form-field-element:before,
#siteWrapper .form-wrapper .field-element:before,
#siteWrapper .header-skip-link:before,
.split-buttons .btn:before,
#siteWrapper.site-wrapper .button-block .sqs-button-element--tertiary:before {
  content: '';
  position: absolute;
  width: 15px;
  height: 10px;
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='10' viewBox='0 0 15 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 5.54176V4.46953H11.9565L7.45995 0.383747L7.746 0L15 4.79684V5.21445L7.746 10L7.45995 9.61625L11.9565 5.54176H0Z' fill='black'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-repeat: no-repeat;
  top: 50%;
  transform: translateY(-50%);
  left: initial;
  right: 0;
  -webkit-transition: all .3s ease-out !important;
  -moz-transition: all .3s ease-out !important;
  -o-transition: all .3s ease-out !important;
  transition: all .3s ease-out !important;
}
#siteWrapper.site-wrapper .sqs-button-element--primary:not(.newsletter-form-button):hover,
#siteWrapper.site-wrapper .sqs-button-element--secondary:hover,
#siteWrapper.site-wrapper .bright .sqs-button-element--secondary:hover,
#siteWrapper.site-wrapper .button-block .sqs-button-element--secondary:hover,
.sqs-block-newsletter:not(#block-yui_3_17_2_1_1691744823707_33401) .newsletter-form-field-element:hover,
#siteWrapper .form-wrapper .field-element:hover,
#siteWrapper .header-skip-link:hover,
.split-buttons .btn:hover,
#siteWrapper.site-wrapper .button-block .sqs-button-element--tertiary:hover {
  color: var(--tertiaryButtonBackgroundColor);
}
#siteWrapper.site-wrapper .sqs-button-element--primary:not(.newsletter-form-button):hover:after,
#siteWrapper.site-wrapper .sqs-button-element--secondary:hover:after,
#siteWrapper.site-wrapper .bright .sqs-button-element--secondary:hover:after,
#siteWrapper.site-wrapper .button-block .sqs-button-element--secondary:hover:after,
.sqs-block-newsletter:not(#block-yui_3_17_2_1_1691744823707_33401) .newsletter-form-field-element:hover:after,
#siteWrapper .form-wrapper .field-element:hover:after,
#siteWrapper .header-skip-link:hover:after,
.split-buttons .btn:hover:after,
#siteWrapper.site-wrapper .button-block .sqs-button-element--tertiary:hover:after {
  transform: scale(1);
}
#siteWrapper.site-wrapper .sqs-button-element--primary:not(.newsletter-form-button):hover:before,
#siteWrapper.site-wrapper .sqs-button-element--secondary:hover:before,
#siteWrapper.site-wrapper .bright .sqs-button-element--secondary:hover:before,
#siteWrapper.site-wrapper .button-block .sqs-button-element--secondary:hover:before,
.sqs-block-newsletter:not(#block-yui_3_17_2_1_1691744823707_33401) .newsletter-form-field-element:hover:before,
#siteWrapper .form-wrapper .field-element:hover:before,
#siteWrapper .header-skip-link:hover:before,
.split-buttons .btn:hover:before,
#siteWrapper.site-wrapper .button-block .sqs-button-element--tertiary:hover:before {
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='10' viewBox='0 0 15 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 5.54176V4.46953H11.9565L7.45995 0.383747L7.746 0L15 4.79684V5.21445L7.746 10L7.45995 9.61625L11.9565 5.54176H0Z' fill='%23CC0700'/%3E%3C/svg%3E%0A");
}
#siteWrapper.site-wrapper .sqs-button-element--primary:not(.newsletter-form-button):after,
#siteWrapper.site-wrapper .sqs-button-element--secondary:after,
#siteWrapper.site-wrapper .bright .sqs-button-element--secondary:after,
#siteWrapper.site-wrapper .button-block .sqs-button-element--secondary:after,
.sqs-block-newsletter:not(#block-yui_3_17_2_1_1691744823707_33401) .newsletter-form-field-element:after,
#siteWrapper .form-wrapper .field-element:after,
#siteWrapper .header-skip-link:after,
.split-buttons .btn:after,
#siteWrapper.site-wrapper .button-block .sqs-button-element--tertiary:after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  background: var(--tertiaryButtonBackgroundColor);
  bottom: -2px;
  left: 0;
  transform: scale(0);
  -webkit-transition: all .3s ease-out !important;
  -moz-transition: all .3s ease-out !important;
  -o-transition: all .3s ease-out !important;
  transition: all .3s ease-out !important;
}
#siteWrapper .sqs-button-element--primary:not(.newsletter-form-button):not(.form-submit-button),
#siteWrapper .sqs-button-element--tertiary {
  overflow: hidden;
}
#siteWrapper .sqs-button-element--primary:not(.newsletter-form-button):not(.form-submit-button):after,
#siteWrapper .sqs-button-element--tertiary:after {
  display: none;
}
#siteWrapper .sqs-button-element--primary:not(.newsletter-form-button):not(.form-submit-button) span,
#siteWrapper .sqs-button-element--tertiary span {
  display: inline-block;
  transition: transform 0.1s ease-out;
  line-height: 100%;
}
#siteWrapper .sqs-button-element--primary:not(.newsletter-form-button):not(.form-submit-button):hover,
#siteWrapper .sqs-button-element--tertiary:hover {
  opacity: 1 !important;
}
#siteWrapper .sqs-button-element--primary:not(.newsletter-form-button):not(.form-submit-button):hover span,
#siteWrapper .sqs-button-element--tertiary:hover span {
  transform: skewX(-10deg);
}
#siteWrapper.site-wrapper .button-block .sqs-button-element--secondary {
  min-width: clamp(200px, 16.7vw, 240px);
  text-align: center;
  white-space: nowrap;
  padding: 14px clamp(24px, 2.5vw, 36px) !important;
  line-height: 1em !important;
  box-sizing: border-box;
  background: #F4F3ED !important;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 16px;
  justify-content: center;
}
@media screen and (max-width:540px) {
  #siteWrapper.site-wrapper .button-block .sqs-button-element--secondary {
    min-width: 220px;
  }
}
#siteWrapper.site-wrapper .button-block .sqs-button-element--secondary:before {
  position: static;
  transform: translateY(0);
  flex-shrink: 0;
}
#siteWrapper.site-wrapper .button-block .sqs-button-element--secondary:after {
  bottom: 0px;
}
#siteWrapper.site-wrapper .button-block .sqs-button-element--secondary:hover {
  opacity: 1;
}
#siteWrapper.site-wrapper .button-block .sqs-button-element--secondary:hover:before {
  transform: translateX(4px);
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='10' viewBox='0 0 15 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 5.54176V4.46953H11.9565L7.45995 0.383747L7.746 0L15 4.79684V5.21445L7.746 10L7.45995 9.61625L11.9565 5.54176H0Z' fill='%23CC0700'/%3E%3C/svg%3E%0A");
}
#siteWrapper.site-wrapper section[data-section-theme="light"] .button-block .sqs-button-element--secondary {
  background-color: rgba(255, 254, 249, 1) !important;
}
.split-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 16px;
}
.split-buttons .btn.orange {
  background: #EEB111;
  border: 1px solid #EEB111;
  color: #00070C;
}
.split-buttons .btn.orange:hover {
  background: #fff;
}
.split-buttons .btn.transparent {
  background: transparent;
  border: 1px solid #EEB111;
}
.split-buttons .btn.transparent:hover {
  background: #EEB111;
}
.split-buttons .btn.yellow {
  background: #F6C316;
  color: #35201B;
}
.split-buttons .btn.yellow:before {
  filter: brightness(0%);
}
.anim-a {
  position: relative;
}
.anim-a:hover:before {
  -webkit-transform: scalex(1);
  -ms-transform: scalex(1);
  transform: scalex(1);
  -webkit-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-delay: 70ms;
  -o-transition-delay: 70ms;
  transition-delay: 70ms;
}
.anim-a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  will-change: transform;
  -webkit-transform: scalex(0);
  -ms-transform: scalex(0);
  transform: scalex(0);
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition: -webkit-transform .25s cubic-bezier(.25, .46, .45, .94);
  transition: -webkit-transform .25s cubic-bezier(.25, .46, .45, .94);
  -o-transition: transform .25s cubic-bezier(.25, .46, .45, .94);
  transition: transform .25s cubic-bezier(.25, .46, .45, .94);
  transition: transform .25s cubic-bezier(.25, .46, .45, .94), -webkit-transform .25s cubic-bezier(.25, .46, .45, .94);
}
body:not(.sqs-edit-mode) [id*="-lrp"] .sqs-block:not(.image-block) {
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}
#siteWrapper .fe-block[style*="mix-blend-mode: multiply;"]:has([data-sqsp-block="shape"]) {
  mix-blend-mode: initial !important;
}
#siteWrapper .fe-block[style*="mix-blend-mode: multiply;"]:has([data-sqsp-block="shape"]) [data-sqsp-block="shape"] {
  padding: 10px;
  box-sizing: border-box;
}
#siteWrapper .fe-block[style="mix-blend-mode: overlay;"] {
  mix-blend-mode: initial !important;
}
@media screen and (min-width: 768px) {
  #siteWrapper .fe-block[style="mix-blend-mode: overlay;"] .html-block {
    padding-left: 0px;
    box-sizing: border-box;
  }
}
#siteWrapper .fe-block[style="mix-blend-mode: screen;"] {
  mix-blend-mode: initial !important;
}
@media screen and (min-width: 768px) {
  #siteWrapper .fe-block[style="mix-blend-mode: screen;"] .html-block {
    padding-right: 0px;
    box-sizing: border-box;
  }
}
#siteWrapper .fe-block[style="mix-blend-mode: darken;"] {
  mix-blend-mode: initial !important;
}
#siteWrapper .fe-block[style="mix-blend-mode: darken;"] ul li:before {
  filter: invert(1);
}
#header.white .header-title-logo img {
  filter: brightness(0%);
}
#header.shrink {
  background: #FFFEF9;
}
#header.shrink .burger-inner * {
  background: #000;
}
#header.shrink.black .header-title-logo img {
  filter: brightness(1%);
}
.scrolling-images {
  --image-size: 200px;
  border: 0px solid #575757;
  padding: 0px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
}
.scrolling-images:hover div {
  animation-play-state: paused;
}
.scrolling-images.reverse:hover div {
  animation-play-state: paused;
}
.scrolling-images .first,
.scrolling-images .second {
  display: flex;
  position: relative;
  animation: marquee 25s linear infinite;
  justify-content: space-around;
}
.scrolling-images.reverse .first,
.scrolling-images.reverse .second {
  display: flex;
  position: relative;
  animation: marquee-v2 25s linear infinite;
  justify-content: space-around;
}
@media screen and (max-width: 767px) {
  .scrolling-images .first,
  .scrolling-images .second {
    animation: marquee 35s linear infinite;
  }
  .scrolling-images.reverse .first,
  .scrolling-images.reverse .second {
    animation: marquee-v2 35s linear infinite;
  }
}
.scrolling-images .image-wrapper {
  margin: 0 4px;
}
.scrolling-images img {
  display: block;
  min-width: 180px;
  height: 92px;
  object-fit: contain;
  padding: 16px 32px;
  box-sizing: border-box;
}
@media screen and (max-width: 1023px) {
  .scrolling-images img {
    height: 92px;
    min-width: 120px;
    padding: 8px 16px;
  }
}
@media screen and (max-width: 767px) {
  .scrolling-images img {
    height: 50px;
    min-width: 120px;
    padding: 8px 16px;
  }
}
.scrolling-images:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(to right, #FFFEF9, rgba(255, 255, 255, 0) 80px, rgba(255, 255, 255, 0) calc(100% - 80px), #FFFEF9);
}
@media (max-width: 900px) {
  .scrolling-images {
    --image-size: 120px;
    --image-size: min(max(120px, 10vw), 150px);
  }
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes marquee-v2 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
body:not(.sqs-edit-mode) [id^="partners"] {
  overflow: hidden;
}
@media screen and (max-width:1440px) {
  body:not(.sqs-edit-mode) [id^="partners"] .content-wrapper {
    box-sizing: border-box;
  }
}
body:not(.sqs-edit-mode) [id^="partners"] .gallery-block {
  display: none;
}
body:not(.sqs-edit-mode) .sections-split-wrapper {
  display: flex;
  flex-flow: row wrap;
}
body:not(.sqs-edit-mode) .sections-split-wrapper .image-wrapper {
  margin: 0;
}
body:not(.sqs-edit-mode) .sections-split-wrapper .sticky-section {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow: hidden;
}
@media screen and (min-width:768px) {
  body:not(.sqs-edit-mode) .sections-split-wrapper .sticky-section .content-wrapper,
  body:not(.sqs-edit-mode) .sections-split-wrapper .sticky-section .sqs-grid-12,
  body:not(.sqs-edit-mode) .sections-split-wrapper .sticky-section .sqs-grid-12 > .row,
  body:not(.sqs-edit-mode) .sections-split-wrapper .sticky-section .sqs-col-12,
  body:not(.sqs-edit-mode) .sections-split-wrapper .sticky-section .gallery-block,
  body:not(.sqs-edit-mode) .sections-split-wrapper .sticky-section .gallery-block .sqs-block-content,
  body:not(.sqs-edit-mode) .sections-split-wrapper .sticky-section .sqs-gallery-container,
  body:not(.sqs-edit-mode) .sections-split-wrapper .sticky-section .sqs-gallery {
    height: 100%;
  }
  body:not(.sqs-edit-mode) .sections-split-wrapper .sticky-section .gallery-block .image-wrapper {
    height: 50%;
  }
  body:not(.sqs-edit-mode) .sections-split-wrapper .sticky-section .gallery-block .image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media screen and (max-width:767px) {
  body:not(.sqs-edit-mode) .sections-split-wrapper .sticky-section {
    position: relative;
    height: auto;
  }
}
@media screen and (max-width:767px) {
  body:not(.sqs-edit-mode) .sections-split-wrapper .sticky-section .gallery-block {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}
body:not(.sqs-edit-mode) .sections-split-wrapper .sticky-section .content-wrapper {
  padding: 0 !important;
}
body:not(.sqs-edit-mode) .sections-split-wrapper .page-section:first-of-type {
  padding-top: 0px !important;
}
body:not(.sqs-edit-mode) .sections-split-wrapper.two-cols .page-section {
  width: calc(100% / 2);
}
body:not(.sqs-edit-mode) .sections-split-wrapper.three-cols .page-section {
  width: calc(100% / 3);
}
body:not(.sqs-edit-mode) .sections-split-wrapper.four-cols .page-section {
  width: calc(100% / 4);
}
body:not(.sqs-edit-mode) .sections-split-wrapper.five-cols .page-section {
  width: calc(100% / 5);
}
@media screen and (max-width:767px) {
  body:not(.sqs-edit-mode) .sections-split-wrapper .page-section {
    width: 100% !important;
  }
}
body.sqs-edit-mode .sections-split-wrapper .page-section {
  width: 100% !important;
}
.soc-icons-custom-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.soc-icons-custom-wrapper.center {
  justify-content: center;
}
.soc-icons-custom-wrapper a {
  -webkit-transition: all .3s ease-out !important;
  -moz-transition: all .3s ease-out !important;
  -o-transition: all .3s ease-out !important;
  transition: all .3s ease-out !important;
}
.soc-icons-custom-wrapper a:hover {
  opacity: 0.7;
}
@media screen and (max-width: 1440px) {
  #blog-hub .content-wrapper {
    box-sizing: border-box;
  }
}
#blog-hub .swiper {
  max-width: 1100px;
}
#blog-hub .summary-item-list-container {
  position: relative;
}
#blog-hub .summary-item-list-container img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  top: 0 !important;
  left: 0 !important;
}
#blog-hub .summary-item-list {
  margin: 0 !important;
}
#blog-hub .summary-v2-block .sqs-block-content {
  margin-top: clamp(24px, 4.4vw, 64px);
  margin-bottom: clamp(24px, 4.4vw, 64px);
}
@media screen and (max-width:540px) {
  #blog-hub .summary-v2-block .sqs-block-content {
    margin-top: 0;
  }
}
#blog-hub .blog-prev,
#blog-hub .blog-next {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translatey(-50%);
  width: 24px;
  height: 12px;
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='10' viewBox='0 0 15 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 4.45824L15 5.53047L3.04348 5.53047L7.54005 9.61625L7.254 10L4.19353e-07 5.20316L4.55861e-07 4.78555L7.25401 -6.77176e-07L7.54005 0.383746L3.04348 4.45824L15 4.45824Z' fill='black'/%3E%3C/svg%3E%0A");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
#blog-hub .blog-prev:hover,
#blog-hub .blog-next:hover {
  opacity: 0.7;
}
@media screen and (max-width:1360px) {
  #blog-hub .blog-prev,
  #blog-hub .blog-next {
    position: static;
    top: 0;
    left: 0;
    transform: translatey(0%);
  }
}
#blog-hub .blog-next {
  left: initial;
  right: 0;
  transform: translatey(-50%) rotate(180deg);
}
@media screen and (max-width:1360px) {
  #blog-hub .blog-next {
    position: static;
    top: 0;
    left: 0;
    transform: translatey(0%) rotate(180deg);
  }
}
@media screen and (max-width:1360px) {
  #blog-hub .blog-slider-nav {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }
}
#header .header-title a {
  font-family: 'Newsreader';
  font-weight: 300;
  line-height: 1em;
  letter-spacing: -0.06em;
  font-style: italic;
  font-size: clamp(32px, 3.33vw, 48px);
}
#header .header-burger {
  display: flex;
  min-height: 48px;
  align-items: center;
}
#header .header-burger .burger {
  display: inline-block !important;
}
#header .header-nav {
  display: none;
}
#header .header-title-nav-wrapper {
  flex: 1;
}
@media screen and (min-width:768px) {
  #header .header-title-logo {
    padding-left: 50px;
  }
}
#header .header-actions {
  width: auto !important;
  flex: 0;
}
#header .header-menu-bg {
  background: rgba(255, 254, 249, 1);
}
#header .header-menu {
  overflow-y: auto;
}
#header .burger-box {
  width: 24px;
  height: 24px;
}
#header .burger--active .burger-inner .top-bun,
#header .burger--active .burger-inner .bottom-bun {
  width: 20px;
}
#header .burger-inner.header-menu-icon-doubleLineHamburger .top-bun {
  transform: translatey(-3.5px);
}
#header .burger--active .burger-inner .top-bun {
  transform: translatex(3.5px) rotate(-135deg);
}
.header--menu-open .header-menu {
  opacity: 1;
  visibility: visible;
  padding-top: 0 !important;
}
.header--menu-open #header .header-title-logo img {
  filter: brightness(0%);
}
.header--menu-open #header .header-menu-bg {
  background: #F4F3ED;
}
@media screen and (min-width:768px) {
  .header--menu-open #header .header-title {
    display: none;
  }
}
@media screen and (min-width:768px) {
  body:not(.sqs-edit-mode) .header-menu-nav-list {
    display: none;
  }
}
#header .header-menu-nav-wrapper .header-menu-nav-item a {
  font-family: Newsreader;
  font-style: italic;
  font-weight: 300;
  margin: 5vw;
}
#custom-menu .section-background {
  background: #F4F3ED;
}
#custom-menu h1 {
  letter-spacing: -0.06em;
}
#custom-menu h4 {
  margin-bottom: 6px;
  text-align: left;
  font-size: clamp(20px, 1.6vw,24px);
  font-weight: 300;
}
#custom-menu h4 em {
  font-size: clamp(24px, 1.6vw,24px);
  font-style: italic;
}
#custom-menu h4 a {
  font-weight: 300;
}
#custom-menu h4:not(:first-child) {
  margin-top: 6px;
}
#custom-menu a {
  text-decoration: none;
}
#custom-menu h3 a,
#custom-menu p a {
  text-decoration: none;
  position: relative;
}
#custom-menu h3 a:hover:before,
#custom-menu p a:hover:before {
  -webkit-transform: scalex(1);
  -ms-transform: scalex(1);
  transform: scalex(1);
  -webkit-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-delay: 70ms;
  -o-transition-delay: 70ms;
  transition-delay: 70ms;
}
#custom-menu h3 a:before,
#custom-menu p a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  will-change: transform;
  -webkit-transform: scalex(0);
  -ms-transform: scalex(0);
  transform: scalex(0);
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition: -webkit-transform .25s cubic-bezier(.25, .46, .45, .94);
  transition: -webkit-transform .25s cubic-bezier(.25, .46, .45, .94);
  -o-transition: transform .25s cubic-bezier(.25, .46, .45, .94);
  transition: transform .25s cubic-bezier(.25, .46, .45, .94);
  transition: transform .25s cubic-bezier(.25, .46, .45, .94), -webkit-transform .25s cubic-bezier(.25, .46, .45, .94);
}
#custom-menu h3 a:before,
#custom-menu p a:before {
  background: currentColor;
}
#custom-menu .cust-menu-soc-icons {
  display: flex;
  gap: 15px;
  justify-content: space-between;
}
#custom-menu .cust-menu-soc-icons h3 {
  margin: 0;
  font-style: italic;
  font-size: clamp(24px, 1.6vw,24px);
  font-weight: 300;
}
#custom-menu .cust-dropdown {
  position: relative;
}
#custom-menu .cust-dropdown p.sqsrte-small {
  margin: 0px;
  font-weight: 500;
  font-family: "Work Sans";
  text-align: right;
  font-size: 10px;
}
#custom-menu .cust-dropdown h4 {
  margin-top: 0;
  text-align: right;
}
#custom-menu .cust-dropdown h4 a {
  font-weight: 300;
}
#custom-menu .cust-dropdown .cust-dropdown-inner {
  display: flex;
  flex-direction: column;
  gap: clamp(5px, 0.7vw, 10px);
}
#custom-menu h4:not(.cust-menu-soc-icon) a {
  display: inline-block;
  width: fit-content;
  opacity: 1;
  transition: opacity 0.3s ease;
}
#custom-menu:has(h4:not(.cust-menu-soc-icon) a:hover)
h4:not(.cust-menu-soc-icon) a {
  opacity: 0.5;
}
#custom-menu h4:not(.cust-menu-soc-icon) a:hover {
  opacity: 1 !important;
}
body:not(.sqs-edit-mode) #custom-menu {
  min-height: 100% !important;
}
@media screen and (max-width:767px) {
  body:not(.sqs-edit-mode) #custom-menu {
    display: none;
  }
}
body:not(.sqs-edit-mode) #custom-menu .content-wrapper {
  min-height: 100%;
  box-sizing: border-box !important;
}
body:not(.sqs-edit-mode) #custom-menu .sqs-grid-12.columns-12,
body:not(.sqs-edit-mode) #custom-menu .sqs-grid-12.columns-12 > .row {
  height: 100%;
}
body:not(.sqs-edit-mode) #custom-menu .sqs-grid-12.columns-12 .sqs-col-12.span-12,
body:not(.sqs-edit-mode) #custom-menu .sqs-grid-12.columns-12 > .row .sqs-col-12.span-12 {
  height: 100%;
  display: flex;
  flex-direction: column;
}
body:not(.sqs-edit-mode) #custom-menu .sqs-grid-12.columns-12 .sqs-col-12.span-12 >.spacer-block,
body:not(.sqs-edit-mode) #custom-menu .sqs-grid-12.columns-12 > .row .sqs-col-12.span-12 >.spacer-block {
  flex: 1 1 auto;
}
body:not(.sqs-edit-mode) #custom-menu .cust-dropdown {
  display: flex;
  gap: 10px;
  justify-content: end;
  position: relative;
}
body:not(.sqs-edit-mode) #custom-menu .cust-dropdown .cust-dropdown-inner {
  position: absolute;
  left: 0;
  top: 5px;
  z-index: 5;
  opacity: 0;
  transition: all 0.3s ease-out;
}
body:not(.sqs-edit-mode) #custom-menu .cust-dropdown h4 {
  display: flex;
  gap: clamp(10px, 1.4vw, 20px);
  align-items: center;
  justify-content: end;
}
body:not(.sqs-edit-mode) #custom-menu .cust-dropdown h4:before {
  content: '';
  width: clamp(30px, 6.5vw, 100px);
  height: 1px;
  display: block;
  background: #000;
  opacity: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: all 0.3s ease;
}
body:not(.sqs-edit-mode) #custom-menu .cust-dropdown:hover .cust-dropdown-inner {
  opacity: 1;
}
@media screen and (max-width:1100px) {
  body:not(.sqs-edit-mode) #custom-menu .cust-dropdown:hover .cust-dropdown-inner {
    left: -60px;
  }
}
body:not(.sqs-edit-mode) #custom-menu .cust-dropdown:hover h4:before {
  opacity: 1;
  transform: scaleX(1);
}
body:not(.sqs-edit-mode) #custom-menu .cust-menu-soc-icons {
  margin-top: clamp(30px, 4.1vw, 60px);
}
body:not(.sqs-edit-mode) #custom-menu .sqs-block:not(.spacer-block) {
  padding-top: 0;
  padding-bottom: 0;
}
body:not(.sqs-edit-mode) #custom-menu .gallery-block .sqs-gallery {
  height: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
}
body:not(.sqs-edit-mode) #custom-menu .gallery-block .image-slide-anchor {
  height: clamp(160px, 14.3vw, 206px) !important;
  padding-bottom: 0 !important;
  border-radius: 20px;
  overflow: hidden;
  max-width: 157px;
}
body:not(.sqs-edit-mode) #custom-menu .gallery-block .image-slide-anchor img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#siteWrapper .form-block .title,
.form-block .title {
  display: none !important;
}
#siteWrapper .form-block input,
#siteWrapper .form-block textarea,
#siteWrapper .form-block select,
.form-block input,
.form-block textarea,
.form-block select {
  outline: none !important;
  background: transparent !important;
  border: none !important;
  border-bottom: 1px solid #000 !important;
  text-align: center !important;
  font-family: "Work Sans" !important;
  font-size: 12px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: 1em !important;
  letter-spacing: -0.48px !important;
  text-transform: uppercase !important;
}
#siteWrapper .form-block input::placeholder,
#siteWrapper .form-block textarea::placeholder,
#siteWrapper .form-block select::placeholder,
.form-block input::placeholder,
.form-block textarea::placeholder,
.form-block select::placeholder {
  text-align: center !important;
  font-family: "Work Sans" !important;
  font-size: 12px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: 1em !important;
  letter-spacing: -0.48px !important;
  text-transform: uppercase !important;
}
#siteWrapper .form-block .form-button-wrapper,
.form-block .form-button-wrapper {
  margin-top: clamp(20px, 2.4vw, 35px) !important;
}
#siteWrapper .form-block .form-button-wrapper button,
.form-block .form-button-wrapper button {
  color: #000 !important;
  font-size: clamp(22px, 2.2vw ,32px) !important;
  font-family: Newsreader !important;
  font-style: italic !important;
  font-weight: 300 !important;
  letter-spacing: -2.32px !important;
  line-height: 1em !important;
  padding: 0 !important;
  text-transform: none !important;
  background: transparent !important;
}
#siteWrapper .form-block .form-button-wrapper button:before,
.form-block .form-button-wrapper button:before {
  display: none !important;
}
#siteWrapper #form-cn .form-block .form-button-wrapper button {
  font-size: clamp(30px, 4.02vw ,58px) !important;
}
#siteWrapper .newsletter-block .newsletter-form-header-description p[data-rte-preserve-empty="true"],
#siteWrapper .newsletter-block .newsletter-form-footnote p[data-rte-preserve-empty="true"] {
  margin: 0;
}
#siteWrapper .newsletter-block .newsletter-form-header-description p[data-rte-preserve-empty="true"]:before,
#siteWrapper .newsletter-block .newsletter-form-footnote p[data-rte-preserve-empty="true"]:before {
  display: none;
}
#siteWrapper .newsletter-block .field {
  padding: 0;
  margin-bottom: 24px;
  min-width: 200px;
}
#siteWrapper .newsletter-block input {
  outline: none !important;
  background: transparent !important;
  border: none !important;
  border-bottom: 1px solid #000 !important;
  text-align: center !important;
  font-family: "Work Sans" !important;
  font-size: 12px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: 1em !important;
  letter-spacing: -0.48px !important;
  text-transform: uppercase !important;
  padding: 8px 0 !important;
}
#siteWrapper .newsletter-block input::placeholder {
  text-align: center !important;
  font-family: "Work Sans" !important;
  font-size: 12px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: 1em !important;
  letter-spacing: -0.48px !important;
  text-transform: uppercase !important;
}
#siteWrapper .newsletter-block .newsletter-form-button-wrapper {
  padding: 0;
}
#siteWrapper .newsletter-block .newsletter-form-button-wrapper button {
  color: #000 !important;
  font-size: clamp(22px, 2.2vw ,32px) !important;
  font-family: Newsreader !important;
  font-style: italic !important;
  font-weight: 300 !important;
  letter-spacing: -4% !important;
  line-height: 1em !important;
  padding: 0 !important;
  text-transform: none !important;
  background: transparent !important;
  position: relative;
}
#siteWrapper .newsletter-block .newsletter-form-button-wrapper button:before {
  display: none !important;
}
#siteWrapper .newsletter-block .newsletter-form-button-wrapper button:after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  background: var(--tertiaryButtonBackgroundColor);
  bottom: -2px;
  left: 0;
  transform: scale(0);
  -webkit-transition: all .3s ease-out !important;
  -moz-transition: all .3s ease-out !important;
  -o-transition: all .3s ease-out !important;
  transition: all .3s ease-out !important;
}
#siteWrapper .newsletter-block .newsletter-form-button-wrapper button:hover {
  opacity: 1;
}
#siteWrapper .newsletter-block .newsletter-form-button-wrapper button:hover:after {
  transform: scale(1);
}
@media screen and (max-width:767px) {
  #siteWrapper [id*="shp-lrm"] .sqs-shape-block-outer-container {
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
  }
}
#siteWrapper [id^="form-cn"] p a:hover {
  opacity: 0.7;
}
@media screen and (max-width:767px) {
  #siteWrapper [id^="form-cn"] .sqs-shape-block-outer-container .sqs-shape {
    border-radius: 40px !important;
  }
}
#siteWrapper [id*="butt-rev"] .sqs-button-element--tertiary {
  position: relative;
  background: transparent !important;
  line-height: 1.1em;
  padding-left: 32px !important;
  padding-right: 0 !important;
}
#siteWrapper [id*="butt-rev"] .sqs-button-element--tertiary:before {
  right: auto !important;
  left: 0 !important;
  transform: rotate(180deg) translateY(50%) !important;
}
@media screen and (max-width:767px) {
  #siteWrapper [id^="work-together"] p br,
  #siteWrapper [id^="work-together"] h2 br {
    display: none;
  }
}
#siteWrapper [id^="work-together"] .sqs-block.sqs-background-enabled {
  background: transparent;
}
#siteWrapper [id^="work-together"] .sqs-block.sqs-background-enabled p {
  margin: 0;
}
#siteWrapper [id^="work-together"] .sqs-block.sqs-background-enabled h4 {
  margin-top: 10px;
}
#siteWrapper [id^="work-together"] .sqs-block.sqs-background-enabled h4 em {
  font-style: italic;
}
#siteWrapper [id^="work-together"] ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#siteWrapper [id^="work-together"] ul li>*:first-child::before {
  content: '';
  width: 15px;
  height: 10px;
  display: inline-block;
  box-sizing: border-box;
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='10' viewBox='0 0 15 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 5.54176V4.46953H11.9565L7.45995 0.383747L7.746 0L15 4.79684V5.21445L7.746 10L7.45995 9.61625L11.9565 5.54176H0Z' fill='%23CC0700'/%3E%3C/svg%3E%0A");
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
}
#siteWrapper [id^="client-history"] .section-background {
  filter: grayscale(1);
}
#siteWrapper [id^="client-history"] .section-background:after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
}
#siteWrapper [id^="client-history"] h3 {
  font-size: clamp(24px, 2.8vw, 40px);
}
#siteWrapper [id^="client-history"] h3 a:hover {
  opacity: 0.7;
}
@media screen and (max-width:767px) {
  #siteWrapper [id^="client-history"] br {
    display: block !important;
  }
}
#siteWrapper [id*="video-bg"] .section-background {
  filter: grayscale(1);
}
#siteWrapper [id*="video-bg"] .section-background:after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .3);
}
.fancybox__container.popup--popup-page .fancybox__content {
  background: rgba(255, 254, 249, 1) !important;
}
.fancybox__container.popup--popup-page .form-block .form-button-wrapper button {
  font-size: clamp(22px, 2.2vw, 32px) !important;
}
[id*="footer-st"] h4 {
  margin-top: 6px;
  margin-bottom: 6px;
}
[id*="footer-st"] h4 a {
  text-decoration: none !important;
  position: relative;
}
[id*="footer-st"] h4 a:hover:before {
  -webkit-transform: scalex(1);
  -ms-transform: scalex(1);
  transform: scalex(1);
  -webkit-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-delay: 70ms;
  -o-transition-delay: 70ms;
  transition-delay: 70ms;
}
[id*="footer-st"] h4 a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  will-change: transform;
  -webkit-transform: scalex(0);
  -ms-transform: scalex(0);
  transform: scalex(0);
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition: -webkit-transform .25s cubic-bezier(.25, .46, .45, .94);
  transition: -webkit-transform .25s cubic-bezier(.25, .46, .45, .94);
  -o-transition: transform .25s cubic-bezier(.25, .46, .45, .94);
  transition: transform .25s cubic-bezier(.25, .46, .45, .94);
  transition: transform .25s cubic-bezier(.25, .46, .45, .94), -webkit-transform .25s cubic-bezier(.25, .46, .45, .94);
}
[id*="footer-st"] h4 a:before {
  background: currentColor;
}
[id*="footer-st"] p.sqsrte-small {
  font-family: var(--body-font-font-family);
}
[id*="footer-st"] .html-block h4 {
  margin-top: 3px;
  margin-bottom: 3px;
}
[id*="footer-st"] .html-block ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6px;
}
[id*="footer-st"] .html-block ul li h4 {
  margin: 0;
}
[id*="footer-st"] .html-block h4:before {
  display: none !important;
}
[id*="footer-st"] .html-block ul {
  padding: 0;
}
[id*="footer-st"] .footer-bottom-text {
  margin-bottom: 24px;
  margin-top: 12px;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  gap: 12px;
}
[id*="footer-st"] .footer-bottom-text p {
  font-weight: 400;
  font-size: 10px;
  margin-top: 6px;
  margin-bottom: 6px;
  font-weight: 400;
  font-family: 'Helvetica Neue';
  letter-spacing: 0px;
}
[id*="footer-st"] .footer-bottom-text p:nth-child(2) {
  text-align: center;
}
[id*="footer-st"] .footer-bottom-text p:last-child {
  text-align: right;
}
[id*="footer-st"] .footer-bottom-text .back-to-top {
  cursor: pointer;
}
body:not(sqs-edit-mode) [id*="footer-st"] .sqs-gallery-block-grid.sqs-gallery-thumbnails-per-row-3 .sqs-gallery-design-grid-slide {
  max-width: 167px;
}
@media screen and (max-width:767px) {
  body:not(sqs-edit-mode) [id*="footer-st"] .sqs-gallery-block-grid.sqs-gallery-thumbnails-per-row-3 .sqs-gallery-design-grid-slide {
    width: 33.33333333% !important;
  }
}
body:not(sqs-edit-mode) [id*="footer-st"] .gallery-block .margin-wrapper {
  margin-bottom: 0 !important;
}
body:not(sqs-edit-mode) [id*="footer-st"] .gallery-block .margin-wrapper > a {
  border-radius: 20px !important;
  overflow: hidden;
  padding-bottom: 0 !important;
  height: clamp(160px, 14.3vw, 206px) !important;
}
body:not(sqs-edit-mode) [id*="footer-st"] .gallery-block .margin-wrapper > a img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  top: 0 !important;
  left: 0 !important;
}
body:not(sqs-edit-mode) [id*="footer-st"] .gallery-block .sqs-gallery {
  height: 100%;
  display: flex;
  justify-content: center;
}
.Marquee h1 {
  font-style: italic;
  line-height: 1.1em !important;
  font-weight: 300 !important;
  letter-spacing: -4%;
}
#siteWrapper #marquee-v2 h1 {
  font-weight: 200 !important;
  letter-spacing: -0.06em !important;
  line-height: 1em !important;
}
@media screen and (max-width:767px) {
  #siteWrapper #marquee-v2 h1 {
    font-size: 80px !important;
  }
}
#siteWrapper [id*="half-bg"] .section-background {
  width: 50%;
  margin-left: auto;
}
#siteWrapper #partners-shape-bg .scrolling-images:after {
  background: linear-gradient(to right, #F4F3ED, rgba(244, 243, 237, 0) 80px, rgba(244, 243, 237, 0) calc(100% - 80px), #F4F3ED);
}
@media screen and (max-width:767px) {
  #siteWrapper #partners-shape-bg .button-block .sqs-block-button-container {
    justify-content: center;
  }
}
body:not(.sqs-edit-mode) #siteWrapper #partners-shape-bg .section-background {
  max-width: 1360px;
  margin: 0 auto;
  box-sizing: content-box;
  padding-right: 2.7vw;
  padding-left: 2.7vw;
}
@media screen and (max-width:1440px) {
  body:not(.sqs-edit-mode) #siteWrapper #partners-shape-bg .section-background {
    box-sizing: border-box;
  }
}
body:not(.sqs-edit-mode) #siteWrapper #partners-shape-bg .section-background img {
  border-radius: 40px;
}
.fe-block:has(.cust-icons-vertical-wrapper) {
  z-index: 50;
}
body:not(.sqs-edit-mode) [id*="scrolling-buttons"] .user-items-list-item-container {
  display: none;
}
#siteWrapper [id*="scrolling-buttons"] {
  min-height: auto !important;
}
#siteWrapper [id*="scrolling-buttons"] .user-items-list {
  min-height: auto !important;
}
#siteWrapper [id*="scrolling-buttons"] .scrolling-buttons-marquee {
  position: relative;
  width: 100%;
  overflow: hidden;
}
#siteWrapper [id*="scrolling-buttons"] .scrolling-buttons-track {
  display: flex;
  width: max-content;
  align-items: center;
  will-change: transform;
  gap: 16px;
  animation: scrolling-buttons-marquee 45s linear infinite;
}
#siteWrapper [id*="scrolling-buttons"] .scrolling-buttons-group {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  width: max-content;
  gap: 16px;
}
#siteWrapper [id*="scrolling-buttons"] .scrolling-buttons-group li {
  list-style: none;
}
#siteWrapper [id*="scrolling-buttons"] .scrolling-buttons-group .list-item {
  flex: 0 0 auto;
  margin: 0;
}
#siteWrapper [id*="scrolling-buttons"] .scrolling-buttons-group .list-item-content__button {
  min-width: clamp(260px, 25vw, 360px);
  text-align: center;
  white-space: nowrap;
  padding: 14px 36px !important;
  line-height: 1em !important;
  box-sizing: border-box;
  background: #F4F3ED !important;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 16px;
  justify-content: center;
}
#siteWrapper [id*="scrolling-buttons"] .scrolling-buttons-group .list-item-content__button:hover {
  opacity: 1;
}
#siteWrapper [id*="scrolling-buttons"] .scrolling-buttons-group .list-item-content__button:hover:before {
  transform: translateX(4px);
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='10' viewBox='0 0 15 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 5.54176V4.46953H11.9565L7.45995 0.383747L7.746 0L15 4.79684V5.21445L7.746 10L7.45995 9.61625L11.9565 5.54176H0Z' fill='%23CC0700'/%3E%3C/svg%3E%0A");
}
#siteWrapper [id*="scrolling-buttons"] .scrolling-buttons-group .list-item-content__button:before {
  position: static;
  transform: translateY(0);
}
#siteWrapper [id*="scrolling-buttons"] .scrolling-buttons-group .list-item-content__button:after {
  bottom: 0px;
}
#siteWrapper [id*="scrolling-buttons"] .scrolling-buttons-group .list-item-content__button-wrapper,
#siteWrapper [id*="scrolling-buttons"] .scrolling-buttons-group .list-item-content__button-container {
  margin: 0 !important;
  max-width: none !important;
}
#siteWrapper [id*="scrolling-buttons"] .scrolling-buttons-marquee:hover .scrolling-buttons-track {
  animation-play-state: paused;
}
@keyframes scrolling-buttons-marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
#siteWrapper [id*="li-arrow"] ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#siteWrapper [id*="li-arrow"] ul li>*:first-child::before {
  content: '';
  width: 15px;
  height: 10px;
  display: inline-block;
  box-sizing: border-box;
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='10' viewBox='0 0 15 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 5.54176V4.46953H11.9565L7.45995 0.383747L7.746 0L15 4.79684V5.21445L7.746 10L7.45995 9.61625L11.9565 5.54176H0Z' fill='black'/%3E%3C/svg%3E%0A");
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
}
body.sqs-edit-mode #siteWrapper #top-stack-section,
body.sqs-edit-mode #siteWrapper [id^="stack-section"] {
  top: 0 !important;
}
#siteWrapper #top-stack-section,
#siteWrapper [id^="stack-section"] {
  padding-top: 0 !important;
}
@media screen and (min-width:768px) {
  body:not(.sqs-edit-mode) #siteWrapper #top-stack-section {
    position: sticky;
    top: 0;
    padding-top: 0 !important;
  }
}
body:not(.sqs-edit-mode) #siteWrapper .stack-group {
  position: relative;
}
@media screen and (min-width:768px) {
  body:not(.sqs-edit-mode) #siteWrapper [id^="stack-section"] {
    position: sticky;
  }
}
body:not(.sqs-edit-mode) #siteWrapper [id^="stack-section"] h2 strong {
  font-weight: 300;
}
body:not(.sqs-edit-mode) #siteWrapper [id^="stack-section"] h2.stack-header {
  margin: 0;
  padding-top: clamp(15px, 2.08vw, 30px);
  padding-bottom: clamp(15px, 2.08vw, 30px);
  display: flex;
  flex-wrap: wrap;
}
body:not(.sqs-edit-mode) #siteWrapper [id^="stack-section"] h2.stack-header strong {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  width: 100%;
}
body:not(.sqs-edit-mode) #siteWrapper [id^="stack-section"] h2.stack-header span:nth-of-type(2) {
  flex: 1;
  text-align: center;
}
body:not(.sqs-edit-mode) #siteWrapper [id^="stack-section-"] {
  border-top: 1px solid rgba(227, 227, 226, 1);
}
body:not(.sqs-edit-mode) .stacked-cards-group {
  position: relative;
  padding-bottom: 100px;
  background-attachment: fixed;
}
body:not(.sqs-edit-mode) .stacked-cards-group section:first-child {
  padding-top: 0 !important;
}
body:not(.sqs-edit-mode) .stacked-cards-group section:first-child .code-block {
  display: none;
}
body:not(.sqs-edit-mode) .stacked-cards-group section:first-child .section-border {
  display: none;
}
body:not(.sqs-edit-mode) .stacked-cards-group section:not(:first-child) {
  background: #fffefa;
  max-width: 1078px;
  border-radius: 40px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width:767px) {
  body:not(.sqs-edit-mode) .stacked-cards-group section:not(:first-child) {
    margin-left: 10px;
    margin-right: 10px;
  }
}
body:not(.sqs-edit-mode) .stacked-cards-group {
  position: relative;
}
body:not(.sqs-edit-mode) #main-stacked-card {
  position: sticky;
  top: 32px;
}
body:not(.sqs-edit-mode) #stacked-card-1,
body:not(.sqs-edit-mode) #stacked-card-2,
body:not(.sqs-edit-mode) #stacked-card-3,
body:not(.sqs-edit-mode) #stacked-card-4 {
  position: sticky;
  top: 200px;
  margin-bottom: 30px;
}
body:not(.sqs-edit-mode) #stacked-card-1 {
  z-index: 1;
}
body:not(.sqs-edit-mode) #stacked-card-2 {
  z-index: 2;
}
body:not(.sqs-edit-mode) #stacked-card-3 {
  z-index: 3;
}
body:not(.sqs-edit-mode) #stacked-card-4 {
  z-index: 4;
}
body:not(.sqs-edit-mode) #siteWrapper #blog-hub-v2 .summary-v2-block {
  display: none;
}
@media screen and (max-width: 1440px) {
  #siteWrapper #blog-hub-v2 .content-wrapper {
    box-sizing: border-box;
  }
}
#siteWrapper #blog-hub-v2 .swiper {
  max-width: 1100px;
}
#siteWrapper #blog-hub-v2 .blog-hub-wrapper {
  margin-top: clamp(10px, 2.08vw, 30px);
  margin-bottom: clamp(20px, 3.5vw, 50px);
}
#siteWrapper #blog-hub-v2 .blog-prev,
#siteWrapper #blog-hub-v2 .blog-next {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translatey(-50%);
  cursor: pointer;
}
#siteWrapper #blog-hub-v2 .blog-prev:hover,
#siteWrapper #blog-hub-v2 .blog-next:hover {
  opacity: 0.7;
}
@media screen and (max-width:1360px) {
  #siteWrapper #blog-hub-v2 .blog-prev,
  #siteWrapper #blog-hub-v2 .blog-next {
    position: static;
    top: 0;
    left: 0;
    transform: translatey(0%);
  }
}
#siteWrapper #blog-hub-v2 .blog-next {
  left: initial;
  right: 0;
  transform: translatey(-50%);
}
@media screen and (max-width:1360px) {
  #siteWrapper #blog-hub-v2 .blog-next {
    position: static;
    top: 0;
    left: 0;
    transform: translatey(0%);
  }
}
@media screen and (max-width:1360px) {
  #siteWrapper #blog-hub-v2 .blog-slider-nav {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }
}
#siteWrapper #blog-hub-v2 .blog-card-img {
  width: 100%;
  height: auto;
}
#siteWrapper #blog-hub-v2 .blog-card-img img {
  width: 100%;
  aspect-ratio: 3 / 2;
}
#siteWrapper #blog-hub-v2 .blog-card-content .blog-hub-title {
  margin-top: 24px;
  margin-bottom: 8px;
  font-family: Work Sans;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -4%;
  text-transform: uppercase;
  text-align: center;
  opacity: 1;
}
#siteWrapper #blog-hub-v2 .blog-card-content .summary-excerpt p {
  margin: 0;
  font-size: 12px;
  text-align: center;
  font-family: "Helvetica Neue";
  opacity: 1;
  letter-spacing: 0;
}
#siteWrapper [id^="podcasts-list"] .user-items-list-item-container.user-items-list-simple {
  max-width: 1110px;
}
@media screen and (max-width:767px) {
  #siteWrapper [id^="podcasts-list"] .user-items-list-item-container.user-items-list-simple {
    padding-left: 6vw;
    padding-right: 6vw;
  }
}
#siteWrapper [id^="podcasts-list"] .user-items-list-item-container .user-items-list-carousel__media-container,
#siteWrapper [id^="podcasts-list"] .user-items-list-item-container .list-item-media {
  position: relative;
}
#siteWrapper [id^="podcasts-list"] .user-items-list-item-container .user-items-list-carousel__media-container .list-item-content__title,
#siteWrapper [id^="podcasts-list"] .user-items-list-item-container .list-item-media .list-item-content__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  font-size: clamp(24px, 2.22vw,32px);
  font-style: italic;
  color: white;
  line-height: 1em;
  letter-spacing: -0.04em;
  font-family: 'Newsreader';
}
#siteWrapper [id^="podcasts-list"] .user-items-list-item-container .user-items-list-carousel__gutter {
  max-width: 1440px;
  margin: 0 auto;
}
@media screen and (max-width:767px) {
  #siteWrapper [id^="podcasts-list"] .user-items-list-item-container .user-items-list-carousel__gutter {
    padding-left: 6vw;
    padding-right: 6vw;
  }
}
#siteWrapper [id^="podcasts-list"] .user-items-list-item-container .user-items-list-carousel__slideshow-holder {
  max-width: 1100px !important;
}
#siteWrapper [id^="podcasts-list"] .user-items-list-item-container .user-items-list-carousel__arrow-button,
#siteWrapper [id^="podcasts-list"] .user-items-list-item-container .mobile-arrow-button {
  width: 15px;
  height: 10px;
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='10' viewBox='0 0 15 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 4.45824L15 5.53047L3.04348 5.53047L7.54005 9.61625L7.254 10L4.19353e-07 5.20316L4.55861e-07 4.78555L7.25401 -6.77176e-07L7.54005 0.383746L3.04348 4.45824L15 4.45824Z' fill='black'/%3E%3C/svg%3E%0A");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
}
#siteWrapper [id^="podcasts-list"] .user-items-list-item-container .user-items-list-carousel__arrow-button svg,
#siteWrapper [id^="podcasts-list"] .user-items-list-item-container .mobile-arrow-button svg {
  display: none;
}
#siteWrapper [id^="podcasts-list"] .user-items-list-item-container .user-items-list-carousel__arrow-button:hover,
#siteWrapper [id^="podcasts-list"] .user-items-list-item-container .mobile-arrow-button:hover {
  opacity: 0.7;
}
#siteWrapper [id^="podcasts-list"] .user-items-list-item-container .user-items-list-carousel__arrow-button--right,
#siteWrapper [id^="podcasts-list"] .user-items-list-item-container .mobile-arrow-button--right {
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='10' viewBox='0 0 15 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 5.54176L0 4.46953L11.9565 4.46953L7.45995 0.383747L7.746 0L15 4.79684V5.21445L7.746 10L7.45995 9.61625L11.9565 5.54176L0 5.54176Z' fill='black'/%3E%3C/svg%3E%0A") !important;
}
#siteWrapper [id^="podcasts-list"] .user-items-list-item-container .user-items-list-carousel__arrow-icon-background {
  background: transparent !important;
}
@media screen and (max-width:1340px) {
  #siteWrapper [id^="podcasts-list"] .user-items-list-item-container .desktop-arrows {
    display: none !important;
  }
}
@media screen and (max-width:1340px) {
  #siteWrapper [id^="podcasts-list"] .user-items-list-item-container .mobile-arrows {
    display: flex !important;
    gap: 20px;
  }
}
#siteWrapper [id^="podcasts-list"] .user-items-list-item-container .list-item-content__description a {
  text-decoration: none;
}
#siteWrapper [id^="podcasts-list"] .user-items-list-item-container .list-item-content__description a:hover {
  opacity: 0.7;
}
#siteWrapper [id^="podcasts-list"] .user-items-list-item-container .list-item-content__description p:first-child {
  font-family: 'Newsreader';
  font-weight: 300;
  font-size: clamp(22px, 2.2vw, 32px);
  letter-spacing: -4%;
  line-height: 1em;
}
#siteWrapper [id^="podcasts-list"] .user-items-list-item-container .list-item-content__description br {
  display: block;
}
body:not(.sqs-edit-mode) #about-hero {
  min-height: 100vh !important;
}
body:not(.sqs-edit-mode) #about-hero .row {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
}
@media screen and (max-width:767px) {
  body:not(.sqs-edit-mode) #about-hero .row .sqs-col-2 {
    width: 100% !important;
  }
}
@media screen and (max-width:767px) {
  body:not(.sqs-edit-mode) #about-hero p {
    text-align: center !important;
  }
}
@media screen and (max-width:767px) {
  #siteWrapper [id*="mch"] h1,
  #siteWrapper [id*="mch"] h2,
  #siteWrapper [id*="mch"] h3,
  #siteWrapper [id*="mch"] h4 {
    text-align: center !important;
  }
}
#siteWrapper [id*="faq"] .accordion-item__title {
  font-family: "Work Sans";
  letter-spacing: -0.04em;
  line-height: 140%;
  font-weight: 500;
}
#siteWrapper [id*="faq"] .accordion-item__description {
  max-width: 100% !important;
}
@media screen and (max-width:767px) {
  #siteWrapper [id^="podcast-info"] h3 br {
    display: block !important;
  }
}
#siteWrapper [id^="scrolling-text-section"] {
  overflow: hidden;
}
#siteWrapper [id^="scrolling-text-section"] .content-wrapper {
  max-width: 100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
#siteWrapper [id^="scrolling-text-section"] .row {
  margin: 0 !important;
}
#siteWrapper [id^="scrolling-text-section"] .marquee-block {
  padding: 0 !important;
}
#siteWrapper [id^="scrolling-text-section"] .Marquee h1 {
  font-style: italic;
  line-height: 1.1em !important;
  font-weight: 200 !important;
  letter-spacing: -0.04em;
}
body:not(.sqs-edit-mode) .st-outer-wrapper {
  position: relative;
}
body:not(.sqs-edit-mode) .st-outer-wrapper #top-stack-section-v2 {
  position: sticky;
  top: 0;
  transition: padding-top 0.3s ease;
  padding-top: 0;
}
body:not(.sqs-edit-mode) .st-outer-wrapper [id^="stack-section-v2"] {
  position: sticky;
  top: 0;
  will-change: transform;
}
@media screen and (max-width:767px) {
  #siteWrapper [id*="-mbc"] .sqs-block-button-container {
    justify-content: center !important;
  }
  #siteWrapper [id*="-mbc"] p,
  #siteWrapper [id*="-mbc"] h3,
  #siteWrapper [id*="-mbc"] h4 {
    text-align: center;
  }
}
